:root {
	--grid-1u: 32px;
}

* {
	box-sizing: border-box;
}

html {
	font-size: 19px;
}

body {
	font-weight: 400;
	line-height: 1.45;
	margin: 0;
	padding: 0;
	color: #333231;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	line-height: 1.45;
	-webkit-font-smoothing: antialiased;
}

p {
	margin-bottom: 1.25em;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 2.75rem 0 1rem;
	font-weight: 400;
	line-height: 1.15;
	text-transform: uppercase;
}

h1 {
	margin-top: 0;
	font-size: 5.653em;
}

h2 {
	font-size: 3.998em;
}

h3 {
	font-size: 2.827em;
}

h4 {
	font-size: 1.999em;
}

h5 {
	font-size: 1.414em;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.75);
}

nav a {
	text-decoration: none;
	color: #333231;
}

nav .active {
	font-weight: bold;
}

nav ul {
	list-style: none;
	display: flex;
	flex-direction: row;
}

nav li {
	width: 25%;
}

.product {
	height: 100vh;
	overflow-y: scroll;
	display: flex;
	scroll-snap-type: x mandatory;
}

.sub-product {
	scroll-snap-align: start;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	height: 100vh;
	width: 100%;
	flex-shrink: 0;
}

[class^='section-'] {
	scroll-snap-align: start;
	padding-top: 64px;
	padding: 64px 2em 128px;
	height: 100%;
	overflow: hidden;
}

.sub-product:nth-child(1),
.row-slide:nth-child(1) {
	background-color: #cae7b9;
	color: #1e4416;
}

.sub-product:nth-child(2),
.row-slide:nth-child(2) {
	background-color: #f3de8a;
	color: #80430c;
}

.sub-product:nth-child(3),
.row-slide:nth-child(3) {
	background-color: #eb9486;
}

.sub-product:nth-child(4),
.row-slide:nth-child(4) {
	background-color: #7e7f9a;
	color: #ededff;
}

/* content */
.container {
	max-width: calc(var(--grid-1u) * 22);
	margin-left: auto;
	margin-right: auto;
}


.product--horizontal {
	overflow: auto;
	flex-direction: column;
	scroll-snap-type: y mandatory;
}

.row-slide {
	scroll-snap-align: start;
	width: 100%;
	flex-shrink: 0;
	display: flex;
	flex-direction: row;
	scroll-snap-type: x mandatory;
	overflow-x: scroll;
}

.slide {
	width: 100%;
	flex-shrink: 0;
	height: 100vh;
	padding-top: 64px;
	scroll-snap-align: start;
}
