:root {
	--grid-1u: 32px;
}

* {
	box-sizing: border-box;
}

html {
	font-size: 19px;
}

body {
	font-weight: 400;
	line-height: 1.45;
	margin: 0;
	padding: 0;
	color: #333231;
	/* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
	font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
		'Arial', sans-serif;
	line-height: 1.45;
	-webkit-font-smoothing: antialiased;
}

a {
	color: inherit;
}

p {
	margin-bottom: 1.25em;
}

blockquote p {
	font-style: italic;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 2.75rem 0 1rem;
	line-height: 1.15;
	text-transform: uppercase;
}

h1 {
	margin-top: 0;
	font-size: 5.653em;
}

h2 {
	font-size: 3.998em;
}

h3 {
	font-size: 2.827em;
	font-weight: 400;
}

h4 {
	font-size: 1.999em;
}

p.lead {
	font-size: 1.332em;
	line-height: 1.4;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.5);
}

nav a {
	text-decoration: none;
	color: #333231;
}

nav .active a {
	color: #008bd0;
}

.nav-list {
	list-style: none;
	display: flex;
	flex-direction: row;
	padding: 0;
}

nav li {
	width: 25%;
}

.product {
	height: 100vh;
	overflow-y: scroll;
	display: flex;
	scroll-snap-type: x mandatory;
}

.sub-product {
	scroll-snap-align: start;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	height: 100vh;
	width: 100%;
	flex-shrink: 0;
}

.section {
	padding: 64px 2em 128px;
}

.section--no-title {
	padding-top: 128px;
}

[class^='section-'] {
	scroll-snap-align: start;
	height: 100%;
	overflow: hidden;
}

/* content */
.container {
	max-width: calc(var(--grid-1u) * 22);
	margin-left: auto;
	margin-right: auto;
}

.product--horizontal {
	overflow-x: hidden;
	overflow-y: scroll;
	flex-direction: column;
	scroll-snap-type: y mandatory;
	-webkit-overflow-scrolling: touch;
}

.row-slide {
	scroll-snap-align: start;
	width: 100%;
	flex-shrink: 0;
	display: flex;
	flex-direction: row;
	scroll-snap-type: x mandatory;
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;
}

.slide {
	width: 100%;
	flex-shrink: 0;
	height: 100vh;
	padding-top: 64px;
	scroll-snap-align: start;
}

/* grid */
.product--grid {
	display: grid;
	height: 100vh;
	scroll-snap-type: y mandatory;
	overflow-x: hidden;
	grid-template-columns: 100vw 100vw 100vw 100vw;
	grid-template-rows: 100vh 100vh 100vh 100vh;
	grid-auto-flow: column;
	scroll-behavior: smooth;
}

.product--grid [class*='section-'] {
	height: 100vh;
	scroll-snap-align: start;
}
.section-1,
.section-4 {
	color: rgba(255, 255, 255, 0.9);
}

.section-1 {
	background-color: #008bd0;
}

.section-2 {
	background-color: #fff;
}

.section-3 {
	background-color: #d5e0e5;
}

.section-4 {
	background-color: #235d7a;
	color: #fff;
}
